:root {
    --header-color: #E2AF91; 
    --body-color: #fafafa;
    --footer-color: #E2AF91; 
    --text-color: #000000;
    --color-black: #000000; 
    --main-color: #273248;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-img {
    height: 80px;
    width: auto;
}

p {
    color: var(--text-color);
}

h1, h3 {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
}

body {
    background-color: var(--main-color);
    background-blend-mode: lighten;
    line-height: 2;
    text-align: left;
    font-family: 'Lato', sans-serif; 
    color: #AF4F41;
    font-size: 18px;
}

nav {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

.nav-1:active, .nav-1:hover, .nav-2:hover, .nav-2:active, .nav-3:active, .nav-3:hover {
    border-bottom: 2px solid var(--color-black);
}

footer {
    background-color: var(--footer-color);
    background-blend-mode: lighten;
}

p.copyright {
    color: var(--text-color);
    opacity: 0.5;
}

div.sections, div.icons, p.copyright {
    text-align: center;
    padding: 0.1rem; 
}

.sections a {
    color: var(--color-black);
    text-decoration: none;
    padding: 0.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.sectons, .icons {
    margin: 0.01em;
}

.icons {
    font-size: 2rem;
}

.sections a:active, .sections a:hover {
    border-bottom: 2px solid black;
}

.grid-container a {
    padding: 0.3rem;
    text-decoration: none;
    color: #AF4F41;
    font-family: 'Lato', sans-serif;
}

.contact a:active, .contact a:hover {
    border-bottom: 2px solid black;
}

.icons a {
    padding: 0.3rem;
    color: var(--main-color);
}

input {
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    padding: 8px;
    border: 2px solid black;
}

#message {
    padding: 20px;
    border-radius: 6px;
    border: 2px solid black; 
}

header {
    background-color: var(--header-color);
    background-blend-mode: lighten;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

form div.name-email-container {
    display: flex;
    padding: 1rem; 
    justify-content: center;
    gap: 0.5rem;
}

textarea {
    width: auto;
    height: auto;
    font-family: 'Lato', sans-serif;
}

#button {
    border: 2px solid black;
    background-color: white;
}

.button {
    padding-bottom: 1rem;
}

main {
    text-align: left;
}

.grid, .grid-container {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
}

.hero {
    padding-left: 2rem;
    padding-right: 2rem;
}

form {
    text-align: center;
}

.name-label, .email-label {
    padding-bottom: 1rem;
}

.name-label {
    padding-top: 1rem;
}

.contact div:first-of-type {
    text-align: center;
}

footer p {
    font-size: 15px;
}

h4 {
    text-align: center;
}

.grid-container {
    text-align: center;
}

.heading-elements {
    background-color: #AF4F41;
    height: 70vh;
    font-family: 'Times New Roman', Times, serif;
    background-blend-mode: lighten;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #E2AF91;
}

div.hero p {
    color: #FFFFFF; 
}

.heading-href a{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.p-about-me, .h4-about-me {
    color: #AF4F41;
}

#name, #email, #message, #button {
    background-color: #E2AF91;
}

@media (min-width: 800px) {
    .header-img {
        width: 150px;
        height: auto;
    }

    nav a {
        font-size: 20px;
        padding: 2rem;
    }

    div.heading-elements article.hero {
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        line-height: 1.5;
        gap: 2rem; 
        padding: 1rem;
    }

    .about-heading {
        grid-column: span 4;
    }

    p {
        font-size: 24px;
    }

    .name-email-container {
        display: flex;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }

    .introduction, .skills, .future-plans, .interests {
        border: none;
        background-color: #E2AF91;
        padding: 1rem;
        border-radius: 8px;
        text-align: center;
    }
}