:root {
    --header-color: #e4e5f1; 
    --body-color: #fafafa;
    --footer-color: #9394a5; 
    --text-color: #484b6a;
    --color-black: #000000; 
}

* {
    margin: 0;
    padding: 0;
}

.header-img {
    height: 50px;
    width: auto;
}

header {
    display: flex;
    background-color: var(--header-color);
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav a:active, nav a:hover {
    border-bottom: 2px solid black;
}

nav {
    gap: 1rem; 
    display: flex;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

img {
    height: auto;
    width: 200px;
}

.project-1, .project-2, .project-3, .project-4, .project-5 {
    border: 3px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

p {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    font-size: 20px; 
}

footer {
    background-color: var(--footer-color);
    text-align: center;
}

footer p {
    opacity: 0.5;
    color: var(--text-color);
}

.home a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: var(--color-black);
}

.home a:active, .home a:hover {
    border-bottom: 2px solid black;
}

.icons a {
    padding: 0.5rem;
}

.icons {
    font-size: 2rem;
}

.home, .icon {
    margin: 10px;
}